*{
    box-sizing: border-box;
    color: #F5ED53;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(headerbg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

h1{
    font-size: 5em;
    /*kan bruke text-align: center; og gjerne padding top.*/
}

nav {
    /*background-color: blue;*/
    width: 80%;
    float:left;
    /*nav'en må max være 20% av skjermens høyde. Burde ha mørk/svart, men transparent bakgrunn på nav'en*/

}

.navElement{
    height: auto;
    float: left;
    width: 25%;
    text-align: center;
    /*background-color: green;*/

}

a {
    font-size: 2em;
}

img {
    width: 50%;
}

.lang {
    /*background-color: yellow;*/
    width: 20%;
    float:left;
    text-align: right;
}

.lang2 {
    visibility: hidden;

}

.sprakactive {
    color: red;
    font-weight: bolder;
    font-size: 2.5em
}

/* Må få sectionen til å få inn elementene */
.s1{
  display: block;
  width: 100%;
  height: auto;
  background-color: yellow;
}

aside{
  position: absolute;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
}

aside *{
  color: black;
}

#asidepic{
  position: absolute;
  width: 50%;
  height: inherit;
  margin-left: 50%;
  padding: 0;
}

/* For mobil og små skjermer!!!!! */
@media only screen and (max-width: 768px) {

    .navElement{
        float: none;
        width: auto;
        text-align: left; 
    }

    .lang{
        visibility: hidden;
    }

    .lang2{
        visibility: visible;
        width: 20%;
        float:left;
        text-align: right;
    }

    h1{
        text-align: center;
    }

    }
