/* For alle sider*/
*{
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgrey; 
}

h1{
    font-size: 5em;
    /*kan bruke text-align: center; og gjerne padding top.*/
}

header{
  margin: 0;
}

#placeholder{
  width: 100%;
  height: 5em;
  margin: 0;
  background-color: black;
  top: 0;
  z-index: 0;
}

  nav{
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-flex;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    justify-content: space-around;
    z-index: 1;
  }
    /*nav'en må max være 20% av skjermens høyde. Burde ha mørk/svart, men transparent bakgrunn på nav'en*/

}

a {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
  width: 16.67%;
}

.NavElement{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2em;
  width: 16.67%;
  text-align: center;
  word-wrap: break-word;
    
  text-decoration: none;
  border-radius: 5px;
    border: 2px solid white; 
  color: white; 
    margin-right: 5px;
    margin-left: 5px; 
}
label{
  display: none;
}
#Burger{
  display: none;
}
#toggle-1{
  display: none;
}
#ghosttext{
  display: none;
}


.lang {
    /*background-color: yellow;*/

    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2em;
    width: 16.67%;
    text-align: right;
    padding-right: 1%;
    border: 2px solid white;
    background-color: black; 
}

.lang2 {
    display: none;
}

.logodef{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  width: 16.67%;
  height: inherit;
  z-index: 1;
}

.logomob{
  display: none;
}
.sprakactive {
    background-color: darkred;
    padding-right: 0.5em;
    padding-left: 0.5em; 
    /*border: 2px solid darkred;*/  
    margin-top: auto;
    margin-bottom: auto;

}

.mindre{
    text-decoration: none;  
}


/*Hjemsiden*/


/* Må få sectionen til å få inn elementene */
.s1{
  width: 100%;
  height: auto;
}

aside{
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

aside *{
  color: black;
}

#asidepic{
  display: inline-block;
  width: 50%;
  height: 19.291em;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* For mobil og små skjermer!!!!! */
@media only screen and (max-width: 1000px) {
  #Burger{
    display: none;
  }

  label{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    text-align: center;
  }

    .lang{
        display: none;
    }

    .NavElement{
      display: none;
    }

    input[type="checkbox"]:checked ~ #ghosttext {
      display: inline-block;
      position: absolute;
      margin-top: 3em;
      left: 0;
      background-color: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: auto;
      text-align: center;
      opacity: 1;
    }


    .margin{
      vertical-align: middle;
    }

    .lang2{
      display: inline;
      width: 45%;
      text-align: right;
      margin-top: auto;
      margin-bottom: auto;
      padding-right: 1%;
    }

    h1{
        text-align: center;
    }

    .logodef{
      display: none;
    }

    .logomob{
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      width: 45%;
      height: inherit;
      z-index: 1;
    }


    /* Her fucker det seg til */
    @media only screen and (max-width: 410px){
        #Burger{
          display: none;
        }
        .NavElement{
             font-size: 10px;
        }

        label{
          display: inline-block;
          margin-top: auto;
          margin-bottom: auto;
          width: 10%;
          text-align: center;
        }

          .lang{
              display: none;
          }

          .NavElement{
            display: none;
          }

          input[type="checkbox"]:checked ~ #ghosttext {
            display: inline-block;
            position: absolute;
            margin-top: 3em;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            height: auto;
            text-align: center;
            opacity: 1;


          }


          .margin{
          }
          .lang2{
            display: inline;
            width: 45%;
            text-align: right;
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 1%;
          }

          h1{
              text-align: center;
          }

          .logodef{
            display: none;
          }

          .logomob{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            width: 45%;
            height: inherit;
            z-index: 1;
          }
}

    @media only screen and (max-width: 255px){
        .NavElement{
            font-size: 5px;
        }


        label{
          display: inline-block;
          margin-top: auto;
          margin-bottom: auto;
          width: 10%;
          text-align: center;
        }
        #Meny{
          display: none;
        }
        #Burger{
          display: inline-block;
          width: 100%;
          height: auto;
        }
          .lang{
              display: none;
          }

          .NavElement{
            display: none;
          }

          input[type="checkbox"]:checked ~ #ghosttext {
            display: inline-block;
            position: absolute;
            margin-top: 3em;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            width: 100%;
            height: auto;
            text-align: center;
            opacity: 1;


          }


          .margin{

          }
          .lang2{
            display: inline;
            width: 45%;
            text-align: right;
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 1%;
          }

          h1{
              text-align: center;
          }

          .logodef{
            display: none;
          }

          .logomob{
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            width: 45%;
            height: inherit;
            z-index: 1;
          }

    }
