*{
    box-sizing: border-box;
    color: white; 
}

html, body {

    margin: 0;
    padding: 0;
}

header {
    background-image: url(headerbg2.jpg);
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    overflow: hidden;  
}

h1{
    font-size: 5em; 
}

nav {
    /*background-color: blue;*/
    width: 80%; 
    float:left;
}

.navElement{ 
    height: auto; 
    float: left; 
    width: 25%; 
    /*background-color: green;*/
    
}

a {
    font-size: 2em; 
}

img {
    width: 50%; 
}

.lang {
    /*background-color: yellow;*/
    width: 20%; 
    float:left;
    text-align: right; 
}

.lang2 {
    visibility: hidden; 
     
}

.sprakactive {
    color: red; 
    font-weight: bolder; 
    font-size: 2.5em
}

@media only screen and (max-width: 768px) {
    
    .navElement{
        float: none;
        width: auto; 
    }
    
    .lang{
        visibility: hidden; 
    }
    
    .lang2{
        visibility: visible; 
        width: 20%; 
        float:left;
        text-align: right; 
    }
    
    h1{
        text-align: center; 
    }
    
    }